RewriteEngine On
RewriteBase /doctorlab/

# Ako fajl ili direktorijum ne postoji
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Preusmeri sve na index.php bez URL query parametra
RewriteRule ^ index.php [QSA,L]
