<div class="container-fluid background">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg mt-2">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="" alt="" > </i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <b><small>Discover Doctorlab</small></b>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-custom">
                    <div class="row ps-5 pe-5 mb-4">
                      <div class="col-12 col-lg-3">
                        <li><a href="">Medical - Specilist</a></li>
                      </div>
                      <div class="col-12 col-lg-3">
                        <li><a href="">Dentist</a></li>
                      </div>
                      <div class="col-12 col-lg-3">
                        <li><a href="">Cardiologe</a></li>
                      </div>
                      <div class="col-12 col-lg-3">
                        <li><a href="">aaaaaaaaa</a></li>
                      </div>

                    </div>
                    <div class="row ps-5 pe-5 gy-5">
                      <div class="col-12 col-lg-3">
                        <li><a href="">A</a></li>
                      </div>
                      <div class="col-12 col-lg-3">
                        <li><a href="">A</a></li>
                      </div>
                      <div class="col-12 col-lg-3">
                        <li><a href="">A</a></li>
                      </div>
                      <div class="col-12 col-lg-3">
                        <li><a href="">A</a></li>
                      </div>
                    </div>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/"><b><small>Tarrifs</small></b></a>
                </li>


              </ul>
              <ul class="navbar-nav ms-auto">
                <li class="nav-item border rounded me-2 border-success ps-1 pe-1 mb-1">
                  <a class="nav-link" href="/caregiver/register"><b><small>Are you a health professional?</small></b></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login"><b><small>Make appoitment?</small></b></a>
                </li>
                
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>