<div class="container-fluid">
  <div class="row background-navbar d-flex align-items-center justify-content-evenly" style="height: 48vh;">
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-8 col-sm-12 text-left">


      <h1 class="ms-1 pb-4" style="color: white;"><b>Live a <span style="color: #9dc6ff;">healthier life</span></b></h1>
      <div class="search-container">
        <form action="/search" method="GET" class="search-box">
          <div class="search-field">
            <i class="bi bi-search"></i>
            <input type="text" placeholder="Name, specialty, practice">
          </div>
          <div class="divider"></div>
          <div class="search-field">
            <i class="bi bi-geo-alt"></i>
            <input type="text" placeholder="Where?">
          </div>
          <button class="search-button">
            Search <i class="bi bi-chevron-right"></i>
          </button>
        </form>
      </div>
    </div>


  </div>

</div>
</div>
<div class="position-relative">
  <div class="position-absolute bottom-0 end-0 d-none d-xl-block">
    <div class="float-end">
      <img src="{{base_url}}/assets/images/patient_background.png" class="rounded" alt="...">
    </div>
  </div>
</div>