{% extends "_global/index.html" %}


{% block main %}


<div class="container-fluid" style="background-color: #324e66;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex flex-row mb-3">
          <div class="mt-3 mb-3">
            <img src="{{base_url}}/assets/uploads/images/{{caregiver.profile_photo}}" alt="user-image" class="rounded-circle me-2"
                        style="width: 100px; height: 100px;">
          </div>

          <div class="p-2 mt-4 ms-3">
            <h3><b style="color: white;">Dr {{caregiver.name}} {{caregiver.surname}}</b></h3>
            <small style="color: white;">{{caregiver.profile_photo}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid sticky-top shadow-sm" style="background-color: white; border-bottom:1px solid #ddd7d7;">
  <div class="container">
    <div class="row mt-2">
      <div class="col-12" style="margin-bottom:-10px;">
        <div class="d-flex flex-row mb-3" style="padding-bottom: -10px;">
          <div class="p-2 links_2 me-3"><a href="#"><b>Profits</b></a></div>
          <div class="p-2 links_2 me-3"><a href="#"><b>Solutions</b></a></div>
          <div class="p-2 links_2 "><a href=""><b>Innovations</b></a></div>
        </div>
      </div>
    </div>
  </div>

</div>
<!--<hr class="custom-hr">-->
<div class="container-fluid full-height">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="card mt-5">
          <div class="card-body p-0 d-flex">
            <p>Razmisliti sta kao sliku ubaciti za dekoraciju</p>

          </div>
        </div>

        <div class="card mt-2">
          <div class="row">
            <div class="col-4">
              <div class="card-body">
                <small><b>Maps and access information</b></small><br>
                <small>Name of institution</small><br>
                <small><b>Jagodina</b></small><br>
                <p><small>32 Avenue du Geeral Sarall, 750015 Paris,France</small></p>
                <small><b>Public Parking</b></small>
                <p><small>3 Places of Parking</small></p>
              </div>
            </div>
            <div class="col-8">
              <p>MAPS</p>
            </div>
          </div>
        </div>
        <div class="card mt-2">
          <div class="card-body">
            <small><b>Presetntation</b></small><br>
            <p><small>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
                five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                Ipsum.</small></p>
            <small><b>Languages Spoken</b></small><br>
            <small>English, Serbian, France</small>

            <hr>
            <small><b>Education</b></small><br>
            <p><small>Medicinski Fakultet Univerzite u Beogradu</small></p>
            <small><b>Expirience</b></small><br>
            <small>Lorem Ipsum has been the industry's standard<br> Lorem Ipsum has been the industry's standard
              <br>Lorem Ipsum has been the industry's standard</small>
          </div>
        </div>
        <div class="card mt-2">
          <div class="card-body">
            <small><b>Schedules and coordinates</b></small><br>
            <p><small><b>Opening hours</b></small></p>
            <small>Monday: 08 - 18h</small><br>
            <small>Tuesday: 08 - 18h</small><br>
            <small>Wendesday: 08 - 18h</small><br>
            <small>Thursdey: 08 - 18h</small><br>
            <small>Friday: 08 - 18h</small><br>

            <p><small><b>Coordinates</b></small><br></p>
            <p><small>061 30 197 12</small></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 ">
        <div class="card mt-5 ">
          <div class="card-body">
            <small><b>In summary</b></small>
            <hr>
            <p><small>Accepy new pattent</small></p>
            <small>Jagodina</small><br>
            <small>Knjegine Milice 15, Jagodina, Serbia</small><br>
            <div class="mt-4"><a href="{{base_url}}/makeappointment/show/{{caregiver.user_id}}" class="btn btn-primary" style="width: 100%;"><b>MAKE AN APPOINTMENT</b></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>




{% endblock %}
{% block footer %}
{% include './inc/footer.html'%}
{% endblock %}
{% block naslov %}
Dr {{caregiver.name}} {{caregiver.surname}}
{% endblock %}