<div class="card mt-3">
  <nav class="navbar">
    <div class="container-fluid justify-content-end">
      <form class="d-flex" role="search"  method="POST" action="{{ base_url }}/appointment/search">
        <div class="input-group">
          <input class="form-control" type="search" name="query" placeholder="Search" aria-label="Search" />
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </div>
      </form>
    </div>
  </nav>
  <div class="table-responsive pe-3 ps-3">

    <table class="table table-hover align-middle" id="pc-dt-simple">

      <thead>
        <tr>
          <th></th>
          <th>#</th>
          <th>Patient</th>
          <th>Contact</th>
          <th>Time</th>
          <th>Type of appointment</th>
          <th>Status</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for client in myclients %}
        <tr>
          <td>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
            </div>
          </td>
          <td>{{client.user_id}}</td>
          <td>
            <div class="d-flex align-items-center">
              <img src="{{base_url}}/assets/images/undraw_profile.svg" alt="user-image" class="rounded-circle me-2"
                style="width: 30px; height: 30px;">
              <div>
                <h6 class="mb-0">{{client.patient_name}} {{client.patient_surname}}</h6>
                <p class="text-muted f-12 mb-0 text-truncate" style="max-width: 150px;">{{client.patient_email}}</p>
              </div>
            </div>
          </td>
          <td class="text-nowrap">{{client.patient_phone}}</td>
          <td>{{client.appointment_date|date("F j, l")}} - {{client.start_time|date("H:i")}}</td>
          <td>{{client.caregiver_data}}</td>
          <td>
            {% if client.status == 'scheduled' %}
            <span class="badge bg-success rounded-pill" style="font-size: 12px;">Verify</span>
            {% elseif client.status == 'canceled' %}
            <span class="badge bg-danger rounded-pill" style="font-size: 12px;">{{ client.status|capitalize }}</span>
            {% else %}
            <span class="badge bg-primary rounded-pill" style="font-size: 12px;">{{ client.status|capitalize }}</span>
            {% endif %}
          </td>
          <td class="text-center">
            <ul class="list-inline me-auto mb-0">
              {%if client.status=='scheduled'%}
              <li class="list-inline-item" data-bs-toggle="tooltip" title="Complete">
                <form id="complete-form-{{ client.appointment_id }}"
                  action="{{ base_url }}/appointments/update/{{ client.appointment_id }}" method="POST"
                  class="d-inline">
                  <a href="#" class="avtar avtar-xs btn-link-secondary"
                    onclick="event.preventDefault(); document.getElementById('complete-form-{{ client.appointment_id }}').submit();">
                    <i class="fa-solid fa-circle-check" style="color: green;"></i>
                  </a>
                </form>
              </li>
              {%endif%}
              <li class="list-inline-item" data-bs-toggle="tooltip" title="Contact">
                <a href="mailto:{{client.patient_email}}" class="avtar avtar-xs btn-link-primary">
                  <i class="fa-solid fa-envelope"></i>
                </a>
              </li>

              {%if client.status=='scheduled'%}
              <li class="list-inline-item" data-bs-toggle="tooltip" title="Cancel">
                <form id="cancel-form-{{ client.appointment_id }}"
                  action="{{ base_url }}/appointments/cancel/{{  client.appointment_id}}" method="POST"
                  class="d-inline">
                  <a href="#" class="avtar avtar-xs btn-link-danger"
                    onclick="event.preventDefault(); document.getElementById('cancel-form-{{ client.appointment_id }}').submit();">
                    <i class="fa-solid fa-user-slash" style="color: rgb(212, 7, 7);"></i>
                  </a>
                </form>
              </li>
              {%endif%}


            </ul>
          </td>

        </tr>

        {%endfor%}

      </tbody>

    </table>

    <nav aria-label="..." class="mt-5">
      <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
          <a class="page-link" href="#" aria-current="page">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>

  <script>
  $(document).ready(function () {
  $('form[role="search"]').on('submit', function (e) {
    e.preventDefault();

    const form = $(this);
    const query = form.find('input[name="query"]').val();

    $.ajax({
      url: form.attr('action'),  // URL iz action atributa forme
      method: 'POST',
      data: { query: query },
      success: function (response) {
        // Ubaci dobivene rezultate u tbody tabele sa id="pc-dt-simple"
        $('#pc-dt-simple tbody').html(response);
      },
      error: function () {
        alert('Došlo je do greške prilikom pretrage.');
      }
    });
  });
});


</script>