{% extends "_global/index.html" %}


{% block main %}
  <body class="light-blue">
    <div class="container d-flex justify-content-center align-items-start min-vh-100 pt-5 mt-5">
      <div class="row">
        <h4 class="text-center"><small><b>Login</b></small></h4>
        <div class="col-12 d-flex justify-content-center">
          <div class="card p-4 border-0" style="width: 500px; height: 350px;">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
              <div class="d-flex flex-column mb-3 w-100">
                <form action="{{ base_url }}/user/login" method="POST">
                  <div class="mb-3">
                    <label for="input_email" class="form-label"><small><b><small class="ms-1"><b><i class="bi bi-envelope-fill"></i> Email address</b></small></label>
                    <input type="email" class="form-control" id="email_login" name="email_login" aria-describedby="emailHelp">
                    
                  </div>
                  <div class="mb-3">
                    <label for="input_password_1" class="form-label"><small><b><i class="bi bi-lock-fill"></i> Password</b></small></label>
                    <input type="password" class="form-control" id="password_login" name="password_login">
                  </div>
                   
                  <div class="mt-5">
                    <button type="submit" class="btn btn-primary" style="width: 100%;">Submit</button>                    
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

 


{% endblock %}
  {% block naslov %}
    Login
  {% endblock %}
