@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    font-family: sans-serif;
    
}

nav {
    background-color:#1279ca;
}
.background {
    background-color:#01264d;
}

nav a{
    color: white !important;
}

.background-navbar{
    background-color:#1279ca;

}

.search-container h2 {
    color: white;
    margin-bottom: 20px;
}
.search-box {
    display: flex;
    background: white;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
    padding: 4px;
    position: relative; 
}

.search-field {
    display: flex;
    align-items: center;
    padding: 10px;
}

.search-field i {
    margin-right: 10px;
    color: gray;
}

.search-field input {
    border: none;
    outline: none;
    font-size: 16px;
}

.divider {
    width: 1px;
    background: lightgray;
    height: 30px;
}

.search-button {
    background:#01264d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 0; 
    margin-right: 6px;
}

.search-button i {
    margin-left: 5px;
}
.dropdown-menu-custom {
    background-color: #e5f8fe;
    width: 800px; 
    height: 300px;
  }
  
  @media (max-width: 768px) {
    .dropdown-menu-custom {
        width: 100%; 
        height: auto; 
    }
  
}
.nav-link:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
  }

  .dropdown:hover .dropdown-menu {
    display: block; 
    opacity: 1; 
    height: auto; 
    padding-top: 10px; 
    padding-bottom: 10px;
    transition: opacity 1s ease, height 1s ease;
  }
  .dropdown-menu {
    display: none; 
    opacity: 0; 
    height: 0; 
    overflow: hidden; 
    transition: opacity 1s ease, height 1s ease; 
  }


.card-hover {
    transition: transform 0.3s ease; 
  }

.card-hover:hover {
    transform: scale(1.05); 
}

.border-success {
    --bs-border-opacity: 1;
    border-color: #ffcd4d !important; 
    background-color: #ffcd4d !important; 
    
}

.links a{
    text-decoration: none;
    color: #01264d;
}
.links a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px; 
    text-underline-offset: 30px;
}
.links_2 a{
    text-decoration: none;
    color: #01264d;
}
.links_2 a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px; 
    text-underline-offset: 20px; 
}
.links_2 a:active {
    color: blue;
    text-decoration: underline;
    text-decoration-thickness: 2px; 
    text-underline-offset: 20px; 
}

/* Uklanja strelicu */
.accordion-button .accordion-button-icon {
    display: none !important;
  }
  
  /* Uklanja aktivnu strelicu */
  .accordion-button .accordion-button-active-icon {
    display: none !important;
  }
  
  /* Uklanja širinu border-a */
  .accordion-button {
    border-width: 0 !important;
  }
  
  /* Uklanja boju border-a */
  .accordion-button {
    border-color: transparent !important;
  }

  
.dugme:hover{
    background-color: rgb(202, 201, 201);
}

.custom-hr {
    border: none; 
    height: 1px;  
    background-color: #1b1b1b; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 2); 
    margin-top: -10px;
   
    
  }

  .full-height {
    background-color: #e4ecf7;
    min-height: 100vh;
    margin-top: -16px;
}

.choose_type{
    background-color: #e4ecf7;
    min-height: 100vh;
}

.row-health{
    margin-top: 150px;
}

.caregivers{
    color: white !important;
}
.caregiver a {
    text-decoration: none;
    color: #01264d !important;
    transition: transform 0.2s ease-in-out, color 0.3s ease-in-out; 
    display: inline-block; 
    
}

.caregiver a:hover {
   
transform: scale(1.05); 
}
.light-blue{
    background-color: #e4ecf7 !important;
}

.teget{
    color: #01264d !important;
}

.grey{
    color: rgb(129, 127, 127) !important;
}

.profile:hover .d-flex{
    background-color: #ebf6fc;
    
}
.card-container {
    position: relative;
    width: 40rem; 
    height: 20rem; 
}
.card-my-information {
    position: absolute; 
    width: 100%;
    height: 100%; 
    transition: opacity 0.3s ease-in-out; 
}
.hidden {
    opacity: 0; 
    pointer-events: none; 
}

.profile_photo{
    position: relative;
    width: 150px;
    height: 120px;
    overflow: hidden;
}

.draggablePreview {
    position: absolute;
    cursor: move;
  }

  .verticals {
    border-right: 2px solid black; /* Deblja crna linija */
    height: 100%; /* Da se proteže kroz celu visinu kolone */
  }

  .timeslot {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.timeslot:hover {
    background-color: #f0f0f0;
}

.timeslot.selected {
    background-color: #0056b3; /* Tamno plava za selektovane */
    color: white;
}

.calendar-input{
    background-color:#e1f5fe !important;
}
.calendar-input-busy{
    background-color:#e9f0f3 !important;
}

.calendar-input:hover{
    background-color:#81cdf0 !important;
    color: #01264d !important;
}

input.calendar-input:checked + label.calendar-input {
    background-color: #0d6efd; /* Plava boja */
    color: white;
    border: 1px solid #0d6efd;
  }
  
  .links a {
    color: black !important;
  }
