{% extends "_global/index.html" %}


{% block main %}

<body class="choose_type">

  <div class="container">
    <div class="row mt-5 ms-5">
      <div class="col-12 ms-1">
        <h4><b>Make your appointemt online</b></h4>
        <small>Fill in the following information</small>
      </div>
    </div>
    <div class="row ms-5">
      <div class="col-12 col-lg-6 mt-4">
        <div class="card">
          <a href="{{base_url}}/caregiver/index"><p class="mt-5 ms-4"><small><i class="fa-solid fa-arrow-left-long"></i> <b>Previous step</b></small></p></a>
          <div class="card-body">
            <p class="ms-2 mb-4"><small><b>Choose your piace of consultation</b></small></p>
            <div class="list-group" id="services-list">
              {% for service in caregiver.caregiver_data.services %}
              <label class="list-group-item list-group-item-action" style="cursor: pointer;">
                <input type="checkbox" class="d-none" name="caregiver_data" value="{{ service }}"
                  onclick="saveToSession(this)" data-caregiver-data="{{ service }}">
                <small>{{ service }}</small>
              </label>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 mt-4">
        <div class="card" style="width: 18rem;">
          <div class="card-header text-white background">
           <small><i class="bi bi-calendar-event me-2"></i> {{ appointment['day']|date("F j, l") }}
                       <i class="bi bi-clock ms-2 me-1"></i> {{ appointment['time']|date("H:i") }}
                    </small>
          </div>
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="p-2">
                <img src="{{base_url}}/assets/uploads/images/{{caregiver.profile_photo}}" alt="user-image" class="rounded-circle me-2"
                  style="width: 50px; height: 50px;">
              </div>
              <div class="p-2">
                <span><b>Dr {{caregiver.name}} {{caregiver.surname}}</b></span><br>
                <small class="fs-6 text-muted">{{caregiver.caregiver_data.title}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>



</body>
<script>
  function saveToSession(checkbox) {
    const caregiver_data = checkbox.getAttribute('data-caregiver-data');

    const xhr = new XMLHttpRequest();
    const params = new URLSearchParams({
      caregiver_data: caregiver_data
    });

    const url = '{{ base_url }}/makeappointment/store/';
    xhr.open('POST', url, true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

    xhr.onload = function () {
      if (xhr.status === 200) {
        window.location.href = '{{ base_url }}/makeappointment/create/';
      } else {
        console.error('Greška u odgovoru sa servera.');
      }
    };

    xhr.onerror = function () {
      console.error('Greška prilikom slanja zahteva.');
    };

    xhr.send(params.toString());
  }
</script>


{% endblock %}

{% block naslov %}
Type
{% endblock %}