{% extends "_global/index.html" %}


{% block main %}

<body class="choose_type">

  <div class="container">
    <div class="row mt-5 ms-5">
      <div class="col-12 ms-1">
        <h4><b>Make your appointemt online</b></h4>
        <small>Fill in the following information</small>
      </div>
    </div>
    <div class="row ms-5">
      <div class="col-12 col-lg-6 mt-4">
        <div class="card">
          <p class="mt-5 ms-5"><small><b>Previous step</b></small></p>
          <div class="card-body">
            <p class="ms-2 mb-4"><small><b>Choose your piace of consultation</b></small></p>
            <div class="list-group">
              {%for service in caregiver.caregiver_data.services %}
                
              <button type="button" class="list-group-item list-group-item-action"><small>{{service}}</small></button>
              
             {%endfor%}
               
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 mt-4">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">{{caregiver.name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


</body>


{% block naslov %}
Type
{% endblock %}

{% endblock %}