{% extends "_global/index.html" %}


{% block main %}

<body class="choose_type">

  <div class="container">
    <div class="row mt-5 ms-5">
      <div class="col-12 ms-1">
        <h4><b>Make your appointemt online</b></h4>
        <small>Fill in the following information</small>
      </div>
    </div>
    <div class="row ms-5">
      <div class="col-12 col-lg-6 mt-4">
        <div class="card">
          <p class="mt-5 ms-5"><small><b>Previous step</b></small></p>
          <div class="card-body">
            <p class="ms-2 mb-4"><small><b>Choose your piace of consultation</b></small></p>
            <div class="list-group" id="services-list">
              {% for service in caregiver.caregiver_data.services %}
                <label class="list-group-item list-group-item-action" style="cursor: pointer;">
                  <input type="checkbox"
                         class="d-none"
                         name="caregiver_data"
                         value="{{ service }}"
                         onclick="saveToSession(this)"
                         data-caregiver-data="{{ service }}">
                  <small>{{ service }}</small>
                </label>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 mt-4">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">{{caregiver.name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


</body>
<script>
  function saveToSession(checkbox) {
    const caregiver_data = checkbox.getAttribute('data-caregiver-data');

    const xhr = new XMLHttpRequest();
    const params = new URLSearchParams({
      caregiver_data: caregiver_data
    });

    const url = '{{ base_url }}/makeappointment/store/';
    xhr.open('POST', url, true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

    xhr.onload = function() {
      if (xhr.status === 200) {
        window.location.href = '{{ base_url }}/makeappointment/create/';
      } else {
        console.error('Greška u odgovoru sa servera.');
      }
    };

    xhr.onerror = function() {
      console.error('Greška prilikom slanja zahteva.');
    };

    xhr.send(params.toString());
  }
</script>


{% endblock %}

{% block naslov %}
Type
{% endblock %}
