{% extends "_global/index.html" %}


{% block main %}

{% include './inc/session_alerts/edit_banner.html' %}

<body class="light-blue" style='background-color: #e4ecf7 !important'>

  <div class="container-fluid">
    <div class="row vh-100">
      <div class="col-lg-3 mt-3 text-center border-end border-secondary-subtle  h-100">
        <p class="mt-4"><b>Appointment History</b></p>
        <hr>
        <div class="list-group border-0">
          {% for schedule in schedules %}
          <button type="button" class="list-group-item list-group-item-action light-blue border-0"
            style="color: #0d6efd !important;" onclick="toggleCards('card{{ loop.index }}')">
            <b>{{ schedule.caregiver_data }}</b>
          </button>
          {% endfor %}

        </div>
      </div>
      <div class="col-lg-9 d-flex align-items-center justify-content-center">
        <div class="card-container">

          <!-- Prva kartica (pocetno vidljiva) -->
          <div id="defaultCard" class="card card-my-information text-center border-0 light-blue">
            <img src="{{base_url}}/assets/images/calendar_transparent.png" style="width: 12rem; height:10rem;"
              class="card-img-top mx-auto d-block" alt="...">
            <div class="card-body">
              <p class="card-text"><b>No upcoming appointments</b></p>
              <p><small>Take charge of your health. Easily book your next appointment through Doctorlab</small></p>
              <a class="btn btn-primary" href="index.html" role="button" style="width: 70%;">Book an Appointment</a>
            </div>
          </div>

          <!-- Druga kartica (prikazuje se kada kliknem dugme) -->
          {%for schedule in schedules%}
          <div id="card{{ loop.index }}" class="card card-my-information hidden mb-5"
            style="width: 600px; height:320px">
            <header class="pb-1 pt-3 rounded-top" style="background-color: #01264d">
              <div class="d-flex justify-content-between">
                <p class="ms-3" style="color:white !important"> <b><i class="bi bi-calendar2-event me-1"></i>
                    {{schedule.appointment_date|date("F j, l")}}
                    <span class="ms-4"><i class="bi bi-clock-fill"></i> {{schedule.start_time|date("H:i")}}</span></b>
                </p>
                {% if schedule.status != 'canceled' %}
                
                <form action="{{ base_url }}/appointments/cancel/{{ schedule.appointment_id }}" method="POST">
                  <p class="me-3">
                  <button type="submit" class="btn btn-primary ms-3"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    Cancel appointment
                  </button>
                  </p>
                </form>
                
                {%endif%}
              </div>
            </header>
            <div class="card-body">
              <div class="d-flex flex-row mb-3">
                <img src="{{base_url}}/assets/uploads/images/{{schedule.photo}}" class="rounded-circle ms-3 mt-3"
                  alt="..." style="width: 65px; height: 65px; object-fit: cover;">
                <div class="p-2 ms-2 mt-3">
                  <b class="teget">Dr {{schedule.doctor_name}} {{schedule.doctor_surname}}</b><br>
                  <small>{{schedule.docotor.title}}</small>
                </div>
              </div>
              <hr>
              <p style="margin-bottom: -4px;"><small><b class="teget">Your appointment details:</b></small></p>
              <small>Jagodina</small><br>
              <p><small>9 Rue Yvarm, 34562 Jagodina</small></p>
              <small>{{schedule.caregiver_data}}</small>
            </div>

          </div>
          {%endfor%}
        </div>
      </div>
    </div>
  </div>





  <script>
    function toggleCards(cardId) {
      // Sakrij sve kartice
      const cards = document.querySelectorAll(".card-my-information");
      cards.forEach(card => card.classList.add("hidden"));

      // Prikazi odgovarajuću
      const selectedCard = document.getElementById(cardId);
      if (selectedCard) {
        selectedCard.classList.remove("hidden");
      }
    }

  </script>
</body>

{% endblock %}
{% block naslov %}
Appointments
{% endblock %}
