{% extends "_global/caregiver_index.html" %}


{% block caregiver %}

{% include './inc/session_alerts/edit_banner.html' %}
 
<div class="container">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-lg-8">
      <div class="card ms-2" style="background-color: #ebf6fc;">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-8">
              <p><b>Your health. Your data</b></p>
              <p><small>The confidentiality of your personal information is an absolute priority for Doctolib and guides our daily actions.</small></p>
              {% if caregiver.profile_photo is null or caregiver.diploma_pdf is null or caregiver.caregiver_data is null or caregiver.university_data is null %}
              
              <small><a href="{{ base_url }}/caregiver/edit/{{ caregiver.user_id }}" style="color: red;">Confirm your profile</a> <i class="bi bi-exclamation-circle-fill" style="color: red;" ></i></small>
              {% else %}
              <small>Confirmed profile <i class="bi bi-check-circle-fill" style="color: green;"></i></small>
              {%endif%}
              
              
            </div>
            <div class="col-lg-4">
                <div class="text-center"><img src="{{ base_url }}/assets/images/katanac1.png" alt="" style="width:150px; height: 120px;"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-8 mt-5">
      <div class="card border-0">
        <div class="card-body">
          <p class="ms-1"><b>Personal information</b></p>
          <hr style="margin-bottom: -1px;">
          <a href="" class="text-decoration-none d-block profile grey" data-bs-toggle="modal" data-bs-target="#name">
            <div class="d-flex justify-content-between p-2 rounded">
              <div><small><b class="teget"><i class="bi bi-person-fill"></i> My Profile</b></small><br><small >{{caregiver.name}} {{caregiver.surname}}</small></div>
              <div class="d-flex align-items-center"><i class="bi bi-caret-right-fill grey"></i></div>
            </div>
          </a>   
          <hr style="margin-bottom: -1px; margin-top:-1px;">
          <a href="" class="text-decoration-none d-block profile grey">
            <div class="d-flex justify-content-between p-2 rounded">
              <div><small><b class="teget"><i class="bi bi-sticky-fill"></i> My Rights</b></small><br><small>See your rights</small></div>
              <div class="d-flex align-items-center"><i class="bi bi-caret-right-fill grey"></i></div>
            </div>
          </a>
          

          <p class="mt-4 ms-1"><b>Login</b></p>
          <hr style="margin-bottom: -1px;">
          <a href="" class="text-decoration-none d-block profile grey"  data-bs-toggle="modal" data-bs-target="#phone">
            <div class="d-flex justify-content-between p-2 rounded">
              <div><small><b class="teget"><i class="bi bi-telephone-fill"></i> Phones</b></small><br><small>{{caregiver.phone}}</small></div>
              <div class="d-flex align-items-center"><i class="bi bi-caret-right-fill grey"></i></div>
            </div>
          </a>
          <hr style="margin-bottom: -1px; margin-top:-1px;">
          <a href="#" class="text-decoration-none d-block profile grey">
            <div class="d-flex justify-content-between p-2 rounded">
              <div><small><b class="teget"><i class="bi bi-envelope-fill"></i> Email</b></small><br><small >{{caregiver.email}}</small></div>
              <div class="d-flex align-items-center"><i class="bi bi-caret-right-fill grey"></i></div>
            </div>
          </a>
          <hr style="margin-bottom: -1px; margin-top:-1px;">
          <a href="#" class="text-decoration-none d-block profile grey" data-bs-toggle="modal" data-bs-target="#password">
            <div class="d-flex justify-content-between p-2 rounded">
              <div><small><b class="teget"><i class="bi bi-shield-lock-fill"></i> Password</b></small><br><small ><i class="bi bi-three-dots" style="font-size: 24px;"></i><i class="bi bi-three-dots" style="font-size: 24px;"></i></small></div>
              <div class="d-flex align-items-center"><i class="bi bi-caret-right-fill grey"></i></div>
            </div>
          </a>
          <p class="mt-4 ms-1"><b>Payments and Billing</b></p>
          <hr style="margin-bottom: -1px;">
          <a href="#" class="text-decoration-none d-block profile grey">
            <div class="d-flex justify-content-between p-2 rounded">
              <div><small><b class="teget"><i class="bi bi-credit-card-2-back-fill"></i> Payment Methods</b></small><br><small >See your rights</small></div>
              <div class="d-flex align-items-center"><i class="bi bi-caret-right-fill grey"></i></div>
            </div>
          </a>
          <hr style="margin-bottom: -1px; margin-top:-1px;">
          <a href="#" class="text-decoration-none d-block profile grey">
            <div class="d-flex justify-content-between p-2 rounded">
              <div><small><b class="teget"><i class="bi bi-credit-card-2-back-fill"></i> Online Payment Settings</b></small><br><small >See your rights</small></div>
              <div class="d-flex align-items-center"><i class="bi bi-caret-right-fill grey"></i></div>
            </div>
          </a>

          <p class="mt-4 ms-1"><b>Confidentiality</b></p>
          <hr style="margin-bottom: -1px;">
          <a href="" class="text-decoration-none d-block profile" data-bs-toggle="modal" data-bs-target="#delete_profile">
            <div class="d-flex justify-content-between p-2 rounded">
              <div><small class="grey">Delete Account</small></div>
              <div class="d-flex align-items-center"><i class="bi bi-caret-right-fill grey"></i></div>
            </div>
          </a>
          <hr style="margin-bottom: -1px; margin-top:-1px;">
          <a href="#" class="text-decoration-none d-block profile">
            <div class="d-flex justify-content-between p-2 rounded">
              <div><small class="grey">Legal Information</small></div>
              <div class="d-flex align-items-center"><i class="bi bi-caret-right-fill grey"></i></div>
            </div>
          </a>
          <hr class="mb-5"style="margin-bottom: -1px; margin-top:-1px;">
          <a href="{{ base_url }}/caregiver/logout/out" class="text-decoration-none d-block profile">
            <div class="d-flex justify-content-between p-2 rounded">
              <div><small><b style="color: rgb(145, 25, 25);"><i class="bi bi-box-arrow-right"></i> Log Out</b></small></div>
              <div class="d-flex align-items-center"><i class="bi bi-caret-right-fill grey"></i></div>
            </div>
          </a>
          
        </div>
      </div>
    </div>
  </div>
</div>

    <!--Name and Surname modal-->
    <div class="modal fade" id="name" tabindex="-1" aria-labelledby="change_name" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form action="{{ base_url }}/caregiver/update/{{caregiver.user_id}}" method="POST">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="change_name"><small><b class="teget"><i class="bi bi-person-fill"></i>Edit My Profile</b></small><br><small></small></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <label for="" class="mb-2 ms-1"><small><b>Change my name</b></small></label>
              <input class="form-control form-control-sm" type="text" name="new_name" placeholder="{{caregiver.name}} {{caregiver.surname}}" aria-label=".form-control-sm example">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save changes</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--Phone-->
<div class="modal fade" id="phone" tabindex="-1" aria-labelledby="change_phone" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="{{ base_url }}/caregiver/update/{{caregiver.user_id}}" method="POST">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="change_phone">
            <small><b class="teget"><i class="bi bi-person-fill"></i>Edit My Profile</b></small><br><small></small>
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="" class="mb-2 ms-1"><small><b>Change my phone</b></small></label>
          <input class="form-control form-control-sm" type="text" name="phone" aria-label=".form-control-sm example" value="{{ caregiver.phone }}">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Password Change Modal -->
<div class="modal fade" id="password" tabindex="-1" aria-labelledby="change_password" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="{{ base_url }}/caregiver/update/{{ caregiver.user_id }}" method="POST">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="change_password">
            <small><b class="teget"><i class="bi bi-person-fill"></i> Edit My Profile</b></small>
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="old_password" class="mb-2 ms-1"><small><b>Change my password</b></small></label>
          <input class="form-control form-control-sm mb-2" type="password" name="old_password" placeholder="Your old password" required>

          <input class="form-control form-control-sm" type="password" name="new_password" placeholder="Your new password" required>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>






{% endblock %}
{% block naslov %}
Profile
{% endblock %}